.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1.text-center Update Profile
			.panel-body
				.text-center
					.post-wrapper
						.post
							.post-body
								.image-wrap
									= form_for @user, url: { action: 'update' }, html: { multipart: true } do |f|
										.row
											.col-md-12
												.form-group.text-center
													%h4 Change your avatar
													.img-circle
														- if @user.avatar.exists?
															= image_tag @user.avatar.url(:medium), id: 'image-preview'
														- else
															= image_tag 'avatar.png', id: 'image-preview'
													= f.file_field :avatar, label: false, onChange: 'loadFile(event)'
										.row
											.col-md-12
												.form-group.text-center
													%h4 Update your bio
													= f.text_area :bio, label: false, rows: 4, class: 'form-control' 
										.form-group.text-center
											= f.submit 'Update Profile', class: 'btn btn-primary'

