<div class="registration">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="log-in panel">
					<div class="panel-heading">
						<h2 class="text-center">Create Account</h2>
					</div>
					<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
							<%= f.error_notification %>
							<div class="panel-body">
								<%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: {class: 'input-lg'} %>
								<%= f.input :user_name, required: true, label: false, placeholder: 'User Name', input_html: {class: 'input-lg'} %>
								<%= f.input :password, required: true, label: false, placeholder: 'Password', input_html: {class: 'input-lg'} %>
								<%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm Password', input_html: {class: 'input-lg'} %>
								<%= f.button :submit, "Sign Up", class: 'btn btn-primary btn-lg btn-block' %>
							</div>
						<% end %>
				</div>
			</div>
		</div>
	</div>
</div>