<div class="login">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login panel">
					<div class="panel-heading">
						<h2 class="text-center">
							Sign In
						</h2>
					</div>
					<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<%= f.error_notification %>
						<div class="panel-body">
							<%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: { class: 'input-lg' } %>
              				<%= f.input :password, required: true, label: false, placeholder: 'Password', input_html: { class: 'input-lg' } %>
              				<%= f.input :remember_me, input_html: { class: 'text-center' }, as: :boolean if devise_mapping.rememberable? %>
              				<%= f.button :submit, "Log in", class: 'btn btn-primary btn-lg btn-block' %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
