= content_for :no_turbolink, true
= simple_form_for @post, html: { multipart: true } do |f|
	= f.error_notification
	/= f.cropbox :image
	/= f.crop_preview :image
	/= f.file_field :image
	.form-group
		= f.input :image, label: false, input_html: { onChange: 'loadFile(event)' }
	.form-group.text-center
		= f.input :title, label: false, placeholder: 'Caption', input_html: { class: 'form-control' }
	.form-group.text-center
		= f.button :submit, class: 'btn btn-primary'