.panel.panel-default.post-bottom
	.panel-heading
		.user
			- if post.user.avatar.exists?
				= image_tag post.user.avatar.url(:medium)
			- else
				= image_tag 'avatar.png'
			= link_to post.user.user_name, profile_path(post.user.user_name)
		.time-ago
			= time_ago_in_words post.created_at
	.panel-body.post_image
		= link_to (image_tag post.image.url), post
	.panel-footer
		.row
			.col-md-12
				= render 'posts/likes', post: post
				%p.title
					%b= link_to post.user.user_name, profile_path(post.user.user_name)
					= linkify_hashtags(post.title)

				.comments{id: "comments_#{post.id}"}
					- if post.comments.any?
						- unless post.comments.count <= 4
							= link_to "view all #{post.comments.count} comments", post_comments_path(post), remote: true, class: 'more-comments', data: {post_id: "#{post.id}", type: "html"}
						= render post.comments.last(4), post: post
				- if user_signed_in?
					.comment-like-form.row
						.col-sm-1
							= link_to '', like_post_path(post.id), remote: true, id: "like_#{post.id}", class: "glyphicon #{liked_post post}"		
						.comment-form.col-sm-11
							= form_for([post, post.comments.build], remote: true) do |f|
								= f.text_field :content, placeholder: 'Add a comment...', class: "comment_content", id: "comment_content_#{post.id}"