!!! 5
%html
	%head
		%title Instagram Clone
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		%nav.navbar.navbar-default
			.container
				.navbar-brand= link_to 'Instagram Clone', root_path
				
				%ul.nav.navbar-nav.navbar-right
					- if user_signed_in?
						%li= link_to 'New Post', new_post_path
						%li= link_to current_user.user_name, profile_path(current_user.user_name)
						%li= link_to 'Sign Out', destroy_user_session_path, method: :delete
					- else
						%li= link_to 'Sign In', new_user_session_path
						%li= link_to 'Sign Up', new_user_registration_path
						
		.container
			- flash.each do |name, msg|
				= content_tag :div, msg, class: [:alert, alert_for(name)]
				
			= yield